{% extends 'page/base.html' %} 
{% block content %} 
    <div class="container mt-3">
        <h1 class="text-center text-muted">Doctor of {{ category.name_eng }}</h1>

        {% if doctors %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Qualifications</th>
                <th scope="col">Date / Time</th>
              </tr>
            </thead>
            <tbody>
              {% for doctor in doctors %}
              <tr>
                <th scope="row">{{ doctor.id }}</th>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.qualifications }}</td>
                <td>{{ doctor.duty }}</td>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
          {% else %}
          <br class="my-5">
          <h1 class="my-5 text-warning text-center">Not Available Doctor Yet!</h1>
          {% endif %}
    </div>

{% endblock %}